@model MarketSENA.Models.SectorEconomico

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>SectorEconomico</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CiiuSeccion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CiiuSeccion.CiiuSeccionID)
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.SectorEconomicoID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
